@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
}

.container {
    margin: 0 40px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
}

.logo {
    padding: 8px 20px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    cursor: pointer;
}

.logo-text {
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 15px;
}

.nav-item a {
    padding: 12px 20px;
    font-family: "Montserrat", serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
    background-color: rgba(255, 70, 70, 0.1);
    border-radius: 10px;
    color: rgba(255, 70, 70, 1);
}

.nav-item.gift a:hover {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
}


/* gifts section */
#gifts {
    position: relative;
    background-color: rgba(255, 70, 70, 1);
    border-radius: 20px 20px;
}

.garland_img {
    position: absolute;
    width: 100%;
}

.garland_img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gift-container {
    padding-top: 60px;
}

.gifts_h1 {
    font-family: "Montserrat", serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.18em;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.tabs,
.tabs-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.inactive a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.default-tab {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}

.tabs-item a {
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat", serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    max-width: 100%;
    padding: 20px 0 60px 0;
}

.gift-card {
    background-color: rgba(236, 243, 248, 1);
    width: 310px;
    height: 342px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gift-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.gift-card:hover h3 {
    color: rgba(255, 70, 70, 1);
}

.gift-info {
    font-family: "Montserrat", serif;
    height: 112px;
    padding: 20px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
}

.gift-category {
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
}

.gift-info h3 {
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    color: rgba(24, 28, 41, 1);
    padding-top: 8px;
}


/* ===== footer ======= */

.footer {
    background-color: rgba(255, 255, 255, 1);
    padding: 60px 50px;
    text-align: center;

}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    flex: 1;
    min-width: 400px;
    max-height: 214px;
    background-color: rgba(236, 243, 248, 1);
    border-radius: 20px;
    color: rgba(24, 28, 41, 1);
    padding: 20px 0;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.card:hover .card-header {
    color: rgba(255, 70, 70, 1);
}

.card:hover .card-subheader {
    color: rgba(255, 70, 70, 1);
}

.icon-container {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 80px;
    height: 80px;
}

.content {
    font-family: "Montserrat", serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
}

.card-header {
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
}

.card-subheader {
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    padding-top: 12px;
}

.footer-bottom {
    margin-top: 60px;
    text-align: center;
    color: rgba(24, 28, 41, 1);
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.social-icon svg {
    width: 24px;
    height: 24px;
    fill: none;
    color: rgba(24, 28, 41, 1);
}

.social-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-icon:hover svg {
    color: rgba(255, 70, 70, 1);
}

.copyright {
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: center;
    color: rgba(24, 28, 41, 1);
    padding-bottom: 12px;
}

.school-link {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(24, 28, 41, 1);
}

.school-link:hover {
    color: rgba(255, 70, 70, 1);
}

.burger {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 3px;
    background-color: rgba(24, 28, 41, 1);
    border-radius: 2px;
}


@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .navigation {
        display: none;
    }

    #home {
        height: 64px;
    }

    .container {
        max-width: 768px;
        padding: 0 8px;
    }

    .logo-text {
        font-size: 12px;
        font-weight: 600;
        line-height: 15.6px;
        letter-spacing: 0.05em;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .footer {
        padding: 15px;
    }

    .cards-container {
        width: 752px;
    }

    .card {
        min-width: 752px;
    }
}


@media (max-width: 380px) {
    .burger {
        display: flex;
    }

    .header-content {
        margin: 15px 0px;
    }

    .logo {
        padding: 8px 0px;
    }

    .navigation {
        display: none;
    }

    #home {
        height: 64px;
    }

    .tabs,
    .tabs-item {
        gap: 0px;
    }

    .container {
        max-width: 380px;
        padding: 0 8px;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;

    }

    /* ===== footer ======= */
    .footer {
        padding: 10px;
    }

    .card {
        min-width: 364px;
    }

    .cards-container {
        width: 364px;
    }
}